body {
    background-color: rgba(230, 221, 197, 0.5);
}

body #container {
    background-color: lightblue;
    color: black;
    font-family: 'Tahoma', sans-serif;
    padding: 10px;
}

#container {
    width: 900px;
    margin: auto;

}

nav a {
    font-size: 25px;
}

nav ul a {
    text-decoration: none;
    background-color: darkblue;
    color: white;
    padding: 10px;
    display: block;

}

nav li a:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
    background-image: none;
}

#image {
    background-image: url(../afbeeldingen/luxe.jpg);
}

.geheel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


#luxe h2 {
    margin: auto;
    width: 85%;
}


.geheel p {
    border: 2px solid black;
    border-radius: 20px;
    background-color: darkblue;
    color: white;
    width: 240px;
    padding: 10px;
    margin: 5px;
}

#primair {
    display: none;
}

#gaming {
    display: none;
}

#luxe {
    display: inline;
}
